@import 'config' ;
body
{
    background-color: $primary-color;
    color:white;
    font-family: 'Figtree',sans-serif;
}
.conatiner{
    width: 20rem;
    height: fit-content;
    background-color:$neutral-white;
    color: $neutral-balck;
    margin: auto;
    margin-top: 20vh;
    border-radius: $border-radius ;
    border: solid $neutral-balck 1px;
    box-sizing: border-box;
    box-shadow:  10px 10px 0 0 $neutral-balck;
        & .illus{
            margin-right: auto;
                display: block;
                width: 17.6em;
                height: auto;
                border-radius: $border-radius - 2px;
                margin-left: auto;
                margin-top: 1em;
            

        }

    }
.head-fonts{
    margin-left: 1em;
    padding-left: 1em;
    padding-right: 1.5em;
    & h5{
        padding: 0;
        margin: 0;
        font-weight: 600;
        font-size: 0.76em;
    }
    & h1{
      font-weight: 800;
      font-size: 1em;
    }
    & h1:hover{
        color: $primary-color;
    }
    & .note {
             color:$neutral-grey;
             line-height: 1.5em;
             font-weight: 500;
             font-size: 0.8em;
             
         }
}
.learning{
    background-color: $primary-color;
    display: block;
    width: fit-content;
    border-radius: 5px;
    margin-top: 1.4em;
    & p{
        padding-left: 0.8em;
        padding-right: 0.8em;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        font-size: 0.87em;
        font-weight: 800;
        letter-spacing: 0.002em;
    }
    
    // margin-left: 1rem;
    //  padding-left: 1em;
    //  padding-right: 1em;
    //  padding-bottom: 0.02em;
    
}
// .img{
//     width: 10px;
// }

.profile{
    display: flex;
    //grid-template-columns: 1fr 1fr;
    gap:1rem ;
    margin-left:1.6em ;
    padding-bottom: 1rem;
    align-items: center;

    & img{
        width:2.2rem;
        height: 2.2rem;
        
    }

    & p{
        font-weight: 800;
        font-size: .9em;
    } 
}